
@{
    ViewBag.Title = "Nasze kalkulatory";
}

<h2 class="modal-title">Kalkulatory</h2>

<table class="table col-md-2">
    <li class="table"><a>Oblicz swoje BMI</a>
        <p>
            BMI jest jednym z ważnych wskaźniów określających nasz stan fizyczny, ale niestety nie wystarczającym. Bardzo ważnym uzupełnieniem BMI jest wskaźnik ilości tłuszczu brzusznego - zbyt duży może oznaczać niebezpieczną otyłość brzuszną i to nawet przy prawidłowym BMI!
        </p><hr /></li>
    <li><a>Ile powinieneś jeść kalorii?</a><p>
    Dzienne zapotrzebowanie energetyczne - oznacza ilość energii, którą należy dostarczyć każdego dnia organizmowi w pożywieniu, aby pokryć wydatki energetyczne wynikające z: podstawowej przemiany materii, na którą składają się procesy fizjologiczne tj. trawienie, oddychanie, krążenie, odnowa komórek i tkanek, itp.
</p><hr /></li>
    <li class="list-group-item-text"><a>Stwórz swój własny makrocykl</a>
                                     <p>
                                         Trenowanie to skomplikowany i czasochłonny proces składający się z kilku ważnych elementów: jednostka treningowa, mikrocykl, mezocykl i makrocykl. Wymienione składowe odpowiedzialne są za przebieg wszystkich poszczególnych treningów w całym planie treningowym. Stworzenie planu treningowego opartego na powyższych pojęciach daję pewność szybkich efektów dbając jednocześnie o zdrowie i bezpieczeństwo.
                                     </p><hr /></li>
    <li><a>Kalkulator ciężaru maksymalnego</a>
                                              <p>
                                                  "Maksymalny ciężar? Tydzień temu sto dwadzieścia na płaskiej". Winszujemy, ale nie tędy droga. Aby budować potężne mięśnie przyda się potężna wiedza. Zacznij trening od porządnego przygotowania taktycznego, by z każdej wizyty na siłowni wycisnąć maksimum.
                                              </p><hr /></li>

</table>
