@model Projekcik.NETS.Models.ViewModels.Account.UserNavPartialVM

<a href="/account/user-profile">(@Model.UserName
    @if (Model.HasKarnet) 
    {
        <div> Mam karnet</div>

    }
    else
    {
        <div>Nie mam karnetu</div>
    }

    </a>