@model Projekcik.NETS.Models.ViewModels.Account.UserNavPartialVM

<a href="/account/user-profile">(@Model.UserName
    @if (Model.HasKarnet) 
    {
        <div>karnet ważny)</div>

    }
    else
    {
        <div>brak karnetu)</div>
    }

    </a>